header{
    min-height: 620px;
    background-image: url(https://i.ytimg.com/vi/yPuVh1g5HiI/maxresdefault.jpg);
    background-repeat: repeat;
    background-size: contain;
}

.navbar_width{
    max-width: 500px;
}